@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

header{
    height: 54px;
    /* background-color: red; */
    display: flex;
    align-items: center;
}

nav{
    justify-content: space-between;
    width: 100%;
    display: flex;
    /* background-color: yellow; */
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    /* margin-bottom: 2px; */
    /* height: 54px; */
    align-items: center;
}

nav .navleft{
    display: flex;
    /* background-color: red; */
    height: 100%;
    align-items: center;
    /* justify-content: center; */
    gap: 15px;
    padding-bottom: 1px;
}

nav .navleft img{
    width: 125px;
    padding-left: 12px;
}

nav .navleft ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-thickness: 2px;
}

nav .navleft ul{
    display: flex;
    gap: 6px;
    font-size: 13px;
    height: 100%;
    /* align-items: center;
    justify-content: center; */
    list-style: none;
    font-family: "Nunito Sans", sans-serif;
    /* font-weight:100; */
    
}
nav .navleft ul li{
    /* display: inline-block; */
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}
nav .navleft ul li a{
    height: 100%;
    display: flex;
    align-items: center;
    /* padding-left: 8px;
    padding-right: 8px; */
    text-decoration: none;
    color: black;
}

nav .navright{
    padding-bottom: 1px;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    font-size: 13px;
    /* background-color: green; */
    height: 100%;
    align-items: center;
    
}

nav .navright ul .liHover a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-thickness: 2px;
}

nav .navright ul{
    /* gap: 20px; */
    display: flex;
    height: 100%;
    gap: 25px;
    list-style: none;
}

nav .navright ul li{
    height: 100%;
    gap: 4px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
}

nav .navright ul li a{
    height: 100%;
    align-items: center;
    display: flex;
    /* list-style: none; */
    color: black;
    text-decoration: none;
}

main .headImage{
    cursor: pointer;
    height: 580px;
    background-image: url("productImage.avif");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .headImage .heading{
    /* background-color: red; */
    color: white;
    height: 52%;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .headImage .heading .wrap{
    width: 45%;
}

main .headImage .heading h1{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 50px;
}

main .headImage .heading .new{
    display: inline-block;
    cursor: default;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    padding: 6px 13px;
    color: black;
    background-color: #FFB900;
    border-radius: 5px;
    width: fit-content;
}

main .headImage .heading .para{
    font-family: "Nunito Sans", sans-serif;
    width: 40%;
    font-weight: 300;
    /* font-size: 16px; */
}

main .headImage .heading a{
    font-family: "Nunito Sans", sans-serif;
    /* text-shadow: 0 0 5px black; */
    font-weight: 700;
    font-size:14px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: white;
    color: black;
    width: fit-content;
    padding: 15px 16px;
    text-decoration: none;
}

main .headImage .heading a:hover{
    background-color: #D7D2CB;
}

main .links{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

main .links .linkShop{
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-weight:700;
    font-size:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #263E65;
    text-decoration: underline;
    text-underline-offset: 4.5px;
    text-decoration-thickness: 2px;
}

main .links .linkXBOX{
    font-family: "Nunito Sans", sans-serif;
    gap: 10px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    font-weight:700;
    font-size:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #263E65;
    text-decoration: underline;
    text-underline-offset: 4.5px;
    text-decoration-thickness: 2px;
}

main .links .linkWin11{
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    font-weight:700;
    font-size:15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    color: #263E65;
    text-decoration: underline;
    text-underline-offset: 4.5px;
    text-decoration-thickness: 2px;
}

main .links .linkSur{
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    font-weight:700;
    font-size:15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    color: #263E65;
    text-decoration: underline;
    text-underline-offset: 4.5px;
    text-decoration-thickness: 2px;
}

